body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}


button {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
